# IDE
.idea

# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules
typings
frontend/src/shared/*
backend/src/shared/*

# Builds
build

# Caches
.npm
*.swp

# REPL
.node_repl_history

# Application Data
data/db
